
#include <windows.h>

Resource ICON "icons/drawtree.ico"

AboutDlg DIALOG FIXED 6, 21, 300, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About Drawtree"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "&OK", IDOK, 130, 100, 40, 14
    LTEXT           "Drawtree -- Unrooted tree plotting program", 104, 30, 14,
                    250, 8
    LTEXT           "PHYLIP version 3.6. (c) Copyright 1993-2000 by The University of Washington.", 105, 30, 30, 250, 8
    LTEXT           "Written by Joseph Felsenstein, Andrew Keeffe, Akiko Fuseki, Sean Lamont", 106, 30, 45, 250, 8
    LTEXT           "and Dan Fineman", 107, 30, 55, 250, 8
    LTEXT           "Permission is granted to copy and use this program provided no fee is", 108, 30, 65, 250, 8
    LTEXT           "charged for it and provided that this copyright notice is not removed.", 109, 30, 75, 250, 8
END

GenericAppMenu MENU
{
   POPUP "&File"
   {
      MENUITEM "&Plot",                 1001
      MENUITEM "&Change Parameters",    1002
      MENUITEM "&Quit",                 1003
   }
   POPUP "&Help"
   {
      MENUITEM "&About",                1000
   }
}

